body {
    margin: 0;
}

#legend {
    display: flex;
    flex-direction: center;
    flex-wrap: wrap;
}

#legendBox{
    border: 1px solid black;
    margin:10px;
    padding: 10px;
}

#legendBox h4{
    margin:0;
}

.legendItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.legendText{
    
}

#miTabla{
    width: 100%;
    text-align: center;
}

#actions{
    display: flex;
    flex-wrap: wrap;
}



.legendSquare {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
